@import '../import/*'

div.entry
	nav
		height 140px

		ul.thumbnails
			height 118px
			background black
			color white
			margin 0
			padding 10px 10px 8px 10px
			list-style none
			white-space nowrap
			max-width 100%
			overflow-x scroll
			overflow-y hidden
			text-align center

			li
				min-width 50px
				display inline-block
				/*padding 0 1px*/
				position relative
				vendor('transition-duration', .15s)
				vendor('transform', scale(1,1))
				cursor pointer

				&.active
					position relative
					z-index 9
					transform scale(1.15,1.15)
					box-shadow 0 0 10px rgba(0,0,0,0.05)

					.short-name
						background-color defaultPurple
						color white
						text-shadow 1px 1px 1px #444
						box-shadow 1px 1px 1px #444

				&:hover:not(.active)
					position relative
					z-index 9

					img
						transition-duration 150ms
						transform scale(1.15,1.15)
						box-shadow 0 0 10px rgba(0,0,0,0.05)

				img
					display inline-block
					border 0
					height 100px
					width auto
					opacity 0
					transition-property opacity, transform
					transition-duration 300ms, 150ms

				.short-name
					/* Positioning */
					position absolute
					top 50%
					left 4px
					right 4px
					
					// left 0

					/* Display & Box Model */
					height 18px
					// width 30px
					margin-top -9px
					// margin-left -15px
					// border-radius 10px
					padding 0 4px

					/* Colors and text */
					background-color rgba(0,0,0, 0.4)
					color white
					font-size 10px
					line-height 20px
					text-align center

					/* Other */
					z-index 10