
<div class="header">
  <div class="row span12">
    <div class="cell span5 back"><a href="/">Resultaatlijst</a></div>
    <div class="cell span5 other"><a href="<%= item.prevURL %>" class="prev"><span>&#9666;</span>&nbsp;Vorige brief</a><a href="<%= item.nextURL %>" class="next">Volgende brief&nbsp;<span>&#9656;</span></a><a href="/print">Print...</a></div>
    <div class="cell span2 huygens-logo"><img src="/images/HuygensING.png"/></div>
  </div>
</div>
<div class="item">
  <div class="row span12 metadata">
    <div class="cell span1">
      <h3>Metadata</h3>
    </div>
    <div class="cell span8"></div>
    <div class="cell span3 more">
      <div class="padder no-border">
        <button class="green">Meer metadata</button>
      </div>
    </div>
  </div>
  <div class="row span12 contents">
    <div class="cell span1">
      <h3>Blad 1</h3><% if (item.facsimiles && item.facsimiles.length) { %>
      <img src="<%= item.facsimiles[0].thumbnail %>">
      <% } %>
    </div>
    <div class="cell span8">
      <ul class="versions"><% _.each(item.paralleltexts, function (value, name) { %>
        <li>
          <button data-toggle="<%= name %>"><%= name %></button>
        </li><% }); %>
      </ul>
      <div class="text"><%= item.paralleltexts ? (item.paralleltexts.Translation || {}).text : '' %></div>
    </div>
    <div class="cell span3 annotations">
      <div class="padder">
        <button class="green">Parallel text view</button>
        <ol>
          <li>Bergen.op.Zoom Het is mij niet geheel duidelijk of hier streepjes of puntjes tussen de woorden zijn gebruikt</li>
          <li>Wel[xxx] Weled. (NR)</li>
          <li>door Geperforeerd, niet volledig te lezen.</li>
        </ol>
      </div>
    </div>
  </div>
</div>