@font-face
	font-family Samba
	src url('Samba-webfont.ttf')

@font-face
	font-family "Junicode"
	src url('../fonts/Junicode.ttf') format('truetype')

textFont = "Junicode", "Arial unicode MS", "times new roman", "serif"

default-purple = #b325a0
light-yellow = #fffeed
medium-grey = #8f8f8f
light-grey = #e6e6e6
turquoise = #8cd5d5
sky-blue = #6ca1e5
light-blue-grey = #e2ecee

annotationsBackground = #fcf
controlsButtonColor = turquoise

pTop = 15px