@font-face
	font-family "Junicode"
	src url("../fonts/Junicode.eot")
	src url("../fonts/Junicode.eot?#iefix") format("embedded-opentype"),
			url("../fonts/Junicode.ttf") format("truetype"),
			url("../fonts/Junicode.woff") format("woff")
	font-weight normal
	font-style normal


@font-face
	font-family "Samba"
	src url("../fonts/Samba-webfont.eot")
	src	url("../fonts/Samba-webfont.eot?#iefix") format("embedded-opentype"),
			url("../fonts/Samba-webfont.ttf") format("truetype"),
			url("../fonts/Samba-webfont.woff") format("woff")
	font-weight normal
	font-style normal
 
textFont = "Junicode", "Arial unicode MS", "times new roman", "serif"
logoFont = "Samba"

default-purple = #b325a0
light-yellow = #fffeed
medium-grey = #8f8f8f
light-grey = #e6e6e6
turquoise = #8cd5d5
sky-blue = #6ca1e5
light-blue-grey = #e2ecee

annotationsBackground = #fcf
controlsButtonColor = turquoise

pTop = 15px