.annotations-index
	display none
	.controls
		@media print
			display none

		margin-bottom 1em
		.print
			float right

	a h2
		background-color lighten(lightGrey, 50%)
		border-radius 3px
		padding 1em
		margin-top 0
		margin-left -1em

		@media print
			background-color transparent
			padding 0
			margin-left 0

		color #444
		.count
			font-size .7em
			line-height 180%
			font-weight normal
			color mediumGrey
			display block
	
	.section
		margin-top 4em
		&:first-child
			margin-top 0

	.list
		background-color lightGrey
		border-radius 3px
		padding-top 10px

		@media print
			display none
		ul
			padding 0
			margin 0
			li
				font-size 13px
				margin-left 0
				list-style none
				margin 10px 0

				&.all
					border-bottom 1px solid darken(lightGrey, 10%)
					padding 10px 0
					margin-top 0

				&:hover a
					color defaultPurple
				a
					color #444
				span.count
					color mediumGrey

	.contents
		padding-left 55px
		font-size 13px

		@media print
			width 80%
			.link 
				display none

		ol
			margin 0
			padding 0
			li
				position relative
				margin 0 0 1em 0
				a
					color defaultPurple

		.position
			font-size 12px
			// font-weight bold
			color mediumGrey
			margin-bottom 1em
			span
				margin-right 1em
		
		.annotated-text
			font-family textFont
			font-weight bold
			font-size 1.4em

		.annotation-text
			font-family bodyFont