.annotations-index
	display none
	.list
		background-color lightGrey
		border-radius 3px
		padding-top 10px

	a h3
		color #444
		span.count
			color lightGrey

	.list
		ul
			padding 0
			margin 0
			li
				font-size 13px
				margin-left 0
				list-style none
				margin-bottom .5em
				&:hover a
					color defaultPurple
				a
					color #444
				span.count
					color mediumGrey

	.contents
		padding-left 55px
		font-size 13px
		ol
			margin 0
			padding 0
			li
				position relative
				margin 0 0 1em 0
				a
					color defaultPurple

		.text-layer
			font-size 12px
			// font-weight bold
			color mediumGrey
			display inline-block
			position absolute
			right 0
			top 0
		
		.annotated-text
			font-family textFont

		.annotation-text
			font-family bodyFont