highlightColor = lighten(annotationsBackground, 40%)
numberHighlight = #BA5DB6

.text
	@media print
		width auto

	sup[data-marker]
		cursor pointer
		color darken(annotationsBackground, 30%)
		margin-right
		&:hover
			color black
			background-color highlightColor
	span.highlight
		display inline
		background-color highlightColor

.annotations
	@media print
		width auto

	li
		&.highlight .number span
			color white
			background-color numberHighlight
		&:hover
			cursor pointer
	.number span
		background-color lightGrey
		color mediumGrey
		padding 0 2px
		border-radius 2px

	li:hover .number span
		background-color numberHighlight
		color white
