.entry
	font-family sans-serif
	font-size 11pt

	h3, h5
		font-weight normal
		font-family sans-serif
		color medium-grey
		
	h3
		font-size 11pt
	h5
		font-size 9pt

	.padder
		margin-left pTop
		border-top 1px solid light-grey
		padding-top pTop

		&.no-border
			border none

	button-padding = pTop 0 (pTop + 10) 0

	.header
		border-bottom 2px solid medium-grey
		margin-bottom 25px
		min-height 45px

		@media print
			display none

		a.next-entry, a.next-result, a.prev-entry, a.prev-result
			// margin 0 20px
		.back a, .next, .prev
			&.hide
				visibility hidden
			span
				color medium-grey
		.navigate-entries
			margin 1em 0
			// .left, .right
			// 	padding-left 0
			// 	padding-right 0
		.right
			text-align right

	.thumbnails
		min-height 100px // so text isn't pushed left

	.metadata
		padding-top pTop
		transition height .5s ease 0s
		ul
			list-style none
			margin 0
			padding 0
			li
				float left
				padding-bottom pTop
				border-bottom 1px solid light-grey
				width 50%

				h5
					margin .8em 0 0 0

				&:nth-child(n+5)
					display none
					opacity 0
					// -webkit-transition opacity 1s ease-out
					transition opacity 1s ease-out

		&.more
			li:nth-child(n)
				display block
				transition opacity 1s ease-out
				opacity 1

		.more
			position relative
			// height 100%
			button

				@media print
					display none

				bottom 15px
				left 0
				span.less
					display none
				span.more
					display inline

				&.more
					span.more
						display none
					span.less
						display inline

	.thumbnail
		cursor pointer

	.contents
		.versions 
			margin-right 15px
			ul
				list-style none
				margin 0
				padding button-padding
				text-align right
				li
					display inline-block
					&.active button
						background-color medium-grey
						color white
					margin-right 5px
					&:last-child
						margin-right 0

		.parallel
			padding button-padding
	
	.annotations
		color medium-grey
		font-size 9pt