@import './import/*'

div.entry
	font-family sans-serif
	font-size 11pt

	h3, h5
		font-weight normal
		font-family sans-serif
		color mediumGrey
		
	h3
		font-size 11pt
	h5
		font-size 9pt

	p.no-data
		color mediumGrey
		font-family sans-serif
		font-size 24px;
		margin 2em 0 0 0
		text-align center
		min-height 4em

	.padder
		margin-left pTop
		border-top 1px solid lightGrey
		padding-top pTop

		&.no-border
			border none

	button-padding = pTop 0 (pTop + 10) 0

	& > header
		nav
			ul.entries
				background black
				color white
				display none
				margin 0
				padding 10px 10px 8px 10px
				list-style none
				white-space nowrap
				max-width 100%
				overflow-x scroll
				text-align center

				li
					display inline-block
					padding 0 1px
					position relative
					vendor('transition-duration', .15s)
					vendor('transform', scale(1,1))

					&.active
						.index
							background-color defaultPurple
							color white
							text-shadow 1px 1px 1px #444
							box-shadow 1px 1px 1px #444

					&:hover
						cursor pointer
						vendor('transition-duration', .15s)
						vendor('transform', scale(1.15,1.15))
						position relative
						z-index 99
						vendor('box-shadow', 0 0 10px rgba(0,0,0,0.05))

					a
						color white
						text-decoration none

					img
						display inline-block
						border 0
						height 100px
						width auto

					.index
						height 20px
						width 30px
						position absolute
						top 50%
						margin-top -10px
						left 50%
						margin-left -15px
						background-color rgb(0,0,0) // IE8, IE9
						background-color rgba(0,0,0,0.8)
						border-radius 10px
						line-height 20px
						text-align center
						font-size 10px

						&:hover .index
							background-color rgba(0,0,0,0.2)
							color rgba(255,255,255, 0.4)