.entry
	font-family sans-serif
	font-size 11pt

	h3, h5
		font-weight normal
		font-family sans-serif
		color mediumGrey
		
	h3
		font-size 11pt
	h5
		font-size 9pt

	p.no-data
		color mediumGrey
		font-family sans-serif
		font-size 24px;
		margin 2em 0 0 0
		text-align center
		min-height 4em

	.padder
		margin-left pTop
		border-top 1px solid lightGrey
		padding-top pTop

		&.no-border
			border none

	button-padding = pTop 0 (pTop + 10) 0

	.header
		.bordered
			position relative
			border-bottom 2px solid mediumGrey
			margin-bottom 0px
			min-height 45px

		@media print
			display none

		a.next-entry, a.next-result, a.prev-entry, a.prev-result
			// margin 0 20px
		.back a, .next-entry, .prev-entry
			&.hide
				visibility hidden
			span
				color mediumGrey
	.navigate-entries, .navigate-results
		margin 1em 0
		position relative
		clear-fix()

	.left, .right
		display inline-block

	.right
		position absolute
		right 0
		top 0
		text-align right

	.navigate-results
		// display none
		position relative
		lineHeight = 33px
		min-height lineHeight
		line-height lineHeight
		background-color lightGrey
		a
			padding 0 1em
		.position
			width 50%
			left 25%
			margin 0 auto
			top 0
			position absolute
			text-align center
			h3
				margin 0

	.thumbnails
		min-height 100px // so text isn't pushed left

	.metadata
		padding-top pTop
		transition height .5s ease 0s
		ul
			list-style none
			margin 0
			padding 0
			li
				float left
				padding-bottom pTop
				border-bottom 1px solid lightGrey
				width 50%

				h5
					margin .8em 0 0 0

				&:nth-child(n+5)
					display none
					opacity 0
					// -webkit-transition opacity 1s ease-out
					transition opacity 1s ease-out

		&.more
			li:nth-child(n)
				display block
				transition opacity 1s ease-out
				opacity 1

		.more
			position relative
			// height 100%
			button

				@media print
					display none

				left 0
				span.less
					display none
				span.more
					display inline

				&.more
					span.more
						display none
					span.less
						display inline

	.thumbnail
		cursor pointer

	.contents
		.versions 
			margin-right 15px
			ul
				list-style none
				margin 0
				padding button-padding
				text-align right
				li
					display inline-block
					&.active button
						background-color mediumGrey
						color white
					margin-right 5px
					&:last-child
						margin-right 0

		.parallel
			padding button-padding
	
	.annotations
		color mediumGrey
		font-size 9pt