html
	overflow-y scroll

body
	font-family sans-serif
	margin 0
	padding 0

a
	color skyBlue
	text-decoration none
	font-family sans-serif
	// font-size 10pt

button, a.button
	button()

	&.green
		background-color turquoise
		color black
		&:hover
			background-color lighten(turquoise, 10%)

h1, .page-header h1 a
	font-family Samba
	font-weight normal
	color #B325A0
	text-decoration none

.page-header
	padding-top 1em
	h1
		float left

	.huygens-logo
		display inline-block
		float right
		margin-bottom 10px
		background-image url(../images/HuygensING.png)
		width 92px
		height 66px

	&:after
		content ""
		clear both
		display block
		margin-bottom 2em

.page-footer
	clear-fix()
	border-top 1px solid lightGrey
	padding 10px 0
	margin-top 50px
	color lightGrey
	font-family sans-serif
	font-size 9pt

	.powered-by, .huygens
		display inline-block
	.powered-by
		float right
		text-align right
