html
	overflow-y scroll

body
	font-family sans-serif

a
	color sky-blue
	text-decoration none
	font-family sans-serif
	font-size 10pt

button, a.button
	background-color light-grey
	border-radius 4px
	border none
	color darken(medium-grey, 30%)
	font-size 9pt
	cursor pointer
	line-height 19px
	padding 0 5px

	&:hover
		background-color darken(light-grey, 10%)

	&.active
		background-color medium-grey
		color white
		&:hover
			background-color lighten(medium-grey, 10%)

	&.green
		background-color turquoise
		color black
		&:hover
			background-color lighten(turquoise, 10%)

h1
	font-family Samba
	font-weight normal
	color #B325A0

footer
	border-top 1px solid medium-grey
	padding-top 20px
	margin-top 50px
	color light-grey
	font-family sans-serif
	font-size 9pt

.header
	border-bottom 2px solid medium-grey
	margin-bottom 25px
	min-height 76px

	.other a
		margin 0 20px
	.back a, .next, .prev
		&.hide
			visibility hidden
		span
			color medium-grey


	.huygens-logo
		text-align right
		img
			display inline-block
			margin-bottom 10px