internalPadding = 40px

.panel
	position absolute
	display inline-block
	width 600px

	background-color white
	transition background-color .4s ease-in-out 0s

	easeOutQuint()

	overflow-y auto

	&.new
		background-color light-yellow
		transition background-color .4s ease-in-out 0s

	// sizes
	&.large
		width 600px
		height 700px
	&.medium
		width 500px
		height 650px
	&.small
		width 400px
		height 500px


	box-sizing border-box
	border 1px solid light-grey
	border-left none
	padding internalPadding

	&:first-child
		border-left 1px solid light-grey

	/*** Dragging ***/
	&.ui-draggable-dragging
		// transform rotate(45deg)
		-webkit-transform rotate(5deg)


	/*** Close button ***/
	.close
		background-image url('/images/close-button.png')
		width 12px
		height 12px
		cursor pointer
		opacity 0.5
		margin-top 8 + (-1 * internalPadding)
		margin-right 8 + (-1 * internalPadding)
		&:hover
			opacity 1
	&:only-child .close
		display none

	/*** Selection tab ***/

	.selection
		position absolute
		display inline-block
		top 0px
		left 0px
		margin 0 auto
		padding 0 5px

		background light-grey
		font-family sans-serif
		font-size 13px

		cursor pointer

		border-radius 4px
		border-bottom-left-radius 0
		border-bottom-right-radius 0
		border-bottom 0px solid transparent
		border 1px solid darken(light-grey, 20%)

		.current
			span
				margin 0 5px

		&:hover
			background lighten(light-grey, 20%)
			ul
				display inline-block

		ul
			padding 0 0
			margin 0
			width 100%
			list-style none
			display none
			li
				margin 5px 0