.parallel-overlay
	position fixed
	left 0
	top 0
	width 100%
	height 100%
	background white
	overflow-x scroll
	overflow-y hidden

.parallel-controls
	position fixed
	width 100%
	top 0
	padding 20px
	button
		padding 10px 15px
		box-shadow 1px 1px 1px #ccc

.parallel-view
	z-index 1000
	position relative
	top 100px
	background-color white
	.add, .close
		span
			margin-right 1em

	.parallel-controls .close
		float right
		margin-right 40px

	.panel-container
		position relative
		margin-top 100px