@import './import/*'

@media print
	@page
		margin 1.6cm
		size auto
	body
		margin 0
		padding 0
	body, html
		width auto
		height auto
		border 0
		overflow visible !important
	body > header
		display none
	#main
		height auto !important
	.faceted-search-placeholder
		display none
	.entry article .container .text .line b > svg
		display none
	.entry article .container .text .line figure
		display none
	.entry
		height auto !important
	.entry article
		height auto !important
	.entry > nav
		display none
	.entry article .container .facsimile
		display none
	.entry article .metadata
		display none
	.entry article h2
		max-width 100%
		margin 0
	.entry article .container
		position static
		padding 0 
		height auto 
		overflow visible !important
	.entry article .container .text		
		position static !important
		padding 0 
		height auto 
		width auto
	.entry article .container .text .line
		line-height 2em
		position static
		min-height 0
	.entry article .container .text .line::before
		position static !important
	.entry article .container .text .line:before
		content: counter(section);
		top: 1px;
		width: 20px;
		left: -20px;
		color: #a1a1a1;
		display inline-block
	.line
		line-height 1.5em
		counter-increment section