@import './import/*'

.faceted-search-placeholder
	// 103px is the height of the header
	height calc(100% - 103px)
	overflow-y auto
	display none
	
	.faceted-search, .results
		display inline-block
		box-sizing border-box
		vertical-align top
		
	.faceted-search
		width 30%
		
		.text-search
			.search-input
				.search-icon
					line-height 40px
					
					svg
						width 12px
						fill white
		
		.facets
			margin-top 20px
			
			.facet
				margin-bottom 16px
				
				header
					.menu
						svg
							width 12px
							height 12px
							margin-left 4px
				
				.body
					margin-top 4px
	
	.results
		width 70%
		
		header
			li.sort-levels
				button.toggle
					line-height initial
		
		ul.page
			font-size 1.3em
			
			& > li
				margin-top 6px
				
				.metadata
					ul
						margin 0
						padding 0
						list-style none
						font-size 0.8em

						span.key
							color #999
				
				&.fulltext
					margin-top 20px
					
					ul.kwic
						list-style none
						padding-left 20px
						
					.kwic
						font-size 0.9em
						color #888
						
						& > li
							margin-top 2px
							
							em
								background defaultPurple
								color white
								padding 0 3px
								border-radius 3px
								font-style normal
				
				small
					margin-left 6px
					color #888
				
				i.fa
					font-size 0.8em
					color defaultPurple
					margin-right 6px
		
		
		
// @import './import/*'

// .controls
// 	h3
// 		float left

// 	.sort
// 		float right
// 		margin-top 1em

// 	&:after
// 		content ""
// 		display block
// 		clear both

// .cursor
// 	vendor('user-select', none)

// 	display none
// 	position relative
// 	margin-bottom 1em
// 	padding-top 1em
// 	height 2em
// 	// border-top 1px solid grey

// 	.previous, .next
// 		position absolute
// 		top 0
// 		control-button()

// 	.previous
// 		// padding-left 0
// 		left 0
// 	.next
// 		right 0
// 		// padding-right 0

// 	.position
// 		display block
// 		width 200px
// 		margin 0 auto
// 		text-align center
// 	img.loader
// 		width 16px
// 		margin 0 auto
// 		display block

// .results
// 	box-sizing border-box
// 	padding-left 30px
// 	font-size 10pt
// 	font-family sans-serif

// 	ol
// 		// list-style none
// 		margin 0
// 		padding 0
// 		li
// 			padding 10px
// 			border-bottom 1px solid lightBlueGrey
// 			span.counter
// 				color black
// 				display inline-block
// 				width 30px
// 				margin-left -50px
// 				text-align right
// 			&:hover
// 				background #eee
// 				cursor pointer