.text-view, .panel
	.text
		position relative
		display inline-block
		padding-left 30px // to show line numbers

		font-family textFont

		line-height 22px
		.line-numbers
			position absolute
			top 0
			left 0
			text-align right
			line-height 22px
			font-size 10px
			color medium-grey
			overflow hidden

	.annotations
		font-size 12px
		font-family sans-serif
		color medium-grey
		ol
			list-style none
			padding-left 0
			li
				font-size 12px
				margin-top 10px