.text-view, .panel
	.text
		position relative
		display inline-block

		font-family textFont

		lineHeight = 22px
		line-height lineHeight

		lineNumberOffset = 30px
		// margin-left -1 * lineNumberOffset
		padding-left lineNumberOffset

		.line
			position relative
			padding-left 10px
			.number
				position absolute
				top 0
				width lineNumberOffset
				left -1 * lineNumberOffset
				min-height lineHeight
				text-align right
				line-height lineHeight
				font-size 80%
				font-family sans-serif
				color darken(medium-grey, 40%)


		// .line-numbers
		// 	position absolute
		// 	top 0
		// 	left 0
		// 	text-align right
		// 	line-height 22px
		// 	font-size 10px
		// 	color medium-grey
		// 	overflow hidden

	.annotations
		font-size 12px
		font-family sans-serif
		color medium-grey
		ol
			list-style none
			padding-left 0
			li
				font-size 12px
				margin-top 10px