.text-view
	.text
		display inline-block
		width 205px
		margin-right 15px

	.annotations
		display inline-block
		width 100px
		font-size 12px
		font-family sans-serif
		color medium-grey
		ol
			list-style none
			padding-left 0
			li
				margin-top 10px

.annotations // this is double, but will be removed when styles are reworked
	li
		font-size 12px