.grid-10.thumbnails
	| <% if (entry.facsimiles) { %>
	|   <% _.each(entry.facsimiles, function (f, n) { %>
	h3 Blad <%= n+1 %> 
	.thumbnail(data-page!="<%= n %>")
		img(src!="<%= f.thumbnail %>")
	|   <% }); %>
	| <% } %>
.grid-70
	.grid-100.layers
		ul
			| <% _.each(config.get('textLayers'), function (name) { %>
			li(data-toggle!="<%= name %>"): button <%= name %>
			| <% }); %>
.grid-20.parallel
		button.green Parallel text view
.text-view
	<%= entry.paralleltexts ? (entry.paralleltexts[config.defaultTextVersion] || {}).text : '' %>
