.row.span12
	.cell.span11.back
		a(href="/")
			span &#9666;
			| &nbsp;Back to results
	.cell.span1.pull-right
		a.print(href="#", data-bypass="true") Print...
.row.span12.navigate-results
		.cell.span5.other
			a.prev-result(href!="<%= entry.prevURL %>")
				span &#9666;
				| &nbsp;Previous result
			a.next-result(href!="<%= entry.nextURL %>")
				| Next result&nbsp;
				span &#9656;
.row.span12.navigate-entries
		.cell.span5
			a.prev-entry(href="foo")
				span &#9666;
				| &nbsp;Previous  <%= config.itemLabel %>
			a.next-entry(href="foo")
				| Next <%= config.itemLabel %>&nbsp;
				span &#9656;
