.row.span12
	.cell.span5.back
		a(href="/")
			span &#9666;
			| &nbsp;Results
	.cell.span5.other
		a.prev(href!="<%= entry.prevURL %>")
			span &#9666;
			| &nbsp;Previous	
		a.next(href!="<%= entry.nextURL %>")
			| Next&nbsp;
			span &#9656;
		a.print(href="#", data-bypass="true") Print...
	.cell.span2.huygens-logo
		img(src!="<%= config.basePath %>images/HuygensING.png")