br
.grid-container
	.grid-50.back
		a(href="/")
			span &#9666;
			| &nbsp;Back to results
	.grid-20.prefix-30.right
		a.print(href="#", data-bypass="true") Print...
//- .row.span12.navigate-results
//- 		.cell.span5.other
//- 			a.prev-result(href!="<%= entry.prevURL %>")
//- 				span &#9666;
//- 				| &nbsp;Previous result
//- 			a.next-result(href!="<%= entry.nextURL %>")
//- 				| Next result&nbsp;
//- 				span &#9656;
br
br

.grid-100.navigate-entries
	.grid-20.left
		a.prev-entry(href!="<%= entries.prevURL(entry.id)%>")
			span &#9666;
			| &nbsp;Previous  <%= config.itemLabel %>
	.grid-20.prefix-60.right
		a.next-entry(href!="<%= entries.nextURL(entry.id) %>")
			| Next <%= config.itemLabel %>&nbsp;
			span &#9656;

hr

.grid-100.navigate-results
	.grid-20.left
		a.prev-entry(href!="<%= 'prevResultURL' %>")
			span &#9666;
			| &nbsp;Previous result
	.grid-20.prefix-60.right
		a.next-entry(href!="<%= 'nextResultURL' %>")
			| Next result&nbsp;
			span &#9656;
