.bordered
	.back
		a(href="/")
			span &#9666;
			| &nbsp;Back to results
	.right
		a.print(href="#", data-bypass="true") Print...
	.navigate-entries
		.left
			a.prev-entry(href!="<%= entries.prevURL(entry.id)%>")
				span &#9666;
				| &nbsp;Previous  <%= config.itemLabel %>
		.right
			a.next-entry(href!="<%= entries.nextURL(entry.id) %>")
				| Next <%= config.itemLabel %>&nbsp;
				span &#9656;

.navigate-results
	.left
		a.prev-result(href!="<%= 'prevResultURL' %>")
			span &#9666;
			| &nbsp;Previous result
	.position
		h3
			| Result&nbsp;
			span.idx 1
			| &nbsp;of&nbsp;
			span.total 1
	.right
		a.next-result(href!="<%= 'nextResultURL' %>")
			| Next result&nbsp;
			span &#9656;
