.metadata.grid-100
	.grid-10
		h3 Metadata
	.grid-70
		.grid-100
			ul
				| <% if (metadata) { %>
				| <% _.each(metadata, function (m, i) { %>
				li
					h5
						| <%= m.field %>
					.value
						| <%= m.value || '&nbsp;' %>
				|	<% }); %>
				| <% } %>
	.grid-20
		.more
			.no-border
				button.green
					span.more &#x25BC; More metadata
					span.less &#x25B2; Less metadata
