
<div class="row span12">
  <div class="cell span1">
    <h3>Metadata</h3>
  </div>
  <div class="cell span8">
    <ul>
      <% if (metadata) { %>
      <% _.each(metadata, function (m, i) { %>
      <li>
        <h5><%= m.field %></h5>
        <div class="value"><%= m.value || '&nbsp;' %></div>
      </li>	<% }); %>
      <% } %>
    </ul>
  </div>
  <div class="cell span3 more">
    <div class="padder no-border">
      <button class="green"><span class="more">More metadata</span><span class="less">Less metadata</span></button>
    </div>
  </div>
</div>