article
	h2
		text-align center
		margin 30px 15%
		
		span.link
			color #666
			cursor pointer
			
			&:hover
				text-decoration underline

		i.print
			font-size 0.7em
			color #AAA
			cursor pointer
			margin-left 10px