
<div class="row span12">
  <div class="cell span1">
    <% if (entry.facsimiles) { %>
      <% _.each(entry.facsimiles, function (f, n) { %>
    <h3>Blad <%= n+1 %> </h3>
    <div data-page="<%= n %>" class="thumbnail"><img src="<%= f.thumbnail %>"/></div>  <% }); %>
    <% } %>
  </div>
  <div class="cell span11">
    <div class="row span12">
      <div class="cell span8 versions">
        <ul><% _.each(entry.paralleltexts, function (value, name) { %>
          <li data-toggle="<%= name %>">
            <button><%= name %></button>
          </li><% }); %>
        </ul>
      </div>
      <div class="cell span3 parallel">
        <button class="green">Parallel text view</button>
      </div>
    </div>
    <div class="text-view"><%= entry.paralleltexts ? (entry.paralleltexts[config.defaultTextVersion] || {}).text : '' %></div>
  </div>
</div>