
<div class="row span12">
  <div class="cell span11 back"><a href="/"><span>&#9666;</span>&nbsp;Back to results</a></div>
  <div class="cell span1 pull-right"><a href="#" data-bypass="true" class="print">Print...</a></div>
</div>
<div class="row span12 navigate-results">
  <div class="cell span5 other"><a href="<%= entry.prevURL %>" class="prev-result"><span>&#9666;</span>&nbsp;Previous result</a><a href="<%= entry.nextURL %>" class="next-result">Next result&nbsp;<span>&#9656;</span></a></div>
</div>
<div class="row span12 navigate-entries">
  <div class="cell span5"><a href="foo" class="prev-entry"><span>&#9666;</span>&nbsp;Previous  <%= config.itemLabel %></a><a href="foo" class="next-entry">Next <%= config.itemLabel %>&nbsp;<span>&#9656;</span></a></div>
</div>