
<div class="metadata grid-100">
  <div class="grid-10">
    <h3>Metadata</h3>
  </div>
  <div class="grid-70">
    <div class="grid-100">
      <ul>
        <% if (metadata) { %>
        <% _.each(metadata, function (m, i) { %>
        <li>
          <h5><%= m.field %></h5>
          <div class="value"><%= m.value || '&nbsp;' %></div>
        </li>	<% }); %>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="grid-20">
    <div class="more">
      <div class="no-border">
        <button class="green"><span class="more">&#x25BC; More metadata</span><span class="less">&#x25B2; Less metadata</span></button>
      </div>
    </div>
  </div>
</div>