div.section
	a(name!="<%= slugify(type) %>")
		h2
			| <%= type %>
			.count <%= annotations.length %> annotations
	ol
		| <% _.each(annotations, function (a) { %>
		li(data-text-layer!="<%= a.textLayer %>")
			.annotated-text <%=  shorten(a.annotatedText) %>
			.text-layer
			.position
				span.entry-name <%= config.entryName(a.entryId) %>
				span.text-layer '<%= a.textLayer %>' layer
				span.annotation-number annotation <%= a.annotationOrder %>
			.annotation-text
				| <%=  a.annotationText %>
			.link
				a(href!="<%= config.entryURL(a.entryId, a.textLayer, a.n) %>") &#8627; See in text
		| <% }); %>
