.grid-container
	.grid-100.controls
		a(href="/") ◂&nbsp;Back to search results

		a.print(href="#", data-bypass="true") Print...
	.grid-35.list
		ul
			li.all
				a(href="#all", data-bypass="true", data-type=false) Show all annotations
			| <% _.each(types, function (type) { %>
			li: a(href!="#<%= slugify(type.name) %>", data-bypass="true", data-type!="<%= type.name %>")
					| <%= type.name %>
					span.count &nbsp;(<%= type.count %>)
			| <% }); %>
	.grid-65.contents
