.grid-container
	.page-header
		h1: a(href="/")
		.huygens-logo
	#main
	.clear
	.page-footer
		.huygens: a(href="http://www.huygens.knaw.nl/") Huygens ING &copy; 2013
		.powered-by: a(href="/") Powered by eLaborate
