header
	h1: a(href="/")
	img(src="http://www.huygens.knaw.nl/wp-content/themes/BDboilerplate/images/logo.png", width="92px", height="66px")
	
#main
	.faceted-search-placeholder.letter
	.faceted-search-placeholder.person
	.annotations-view
	.person-detail
