.header
	.row.span12
		.cell.span5.back
			a(href="/") Resultaatlijst
		.cell.span5.other
			a(href!="<%= item.prevURL %>", class="prev")
				span &#9666;
				| &nbsp;Vorige brief
			a(href!="<%= item.nextURL %>", class="next")
				| Volgende brief&nbsp;
				span &#9656;
			a(href="/print") Print...
		.cell.span2.huygens-logo
			img(src="/images/HuygensING.png")
.item
	.row.span12.metadata
		.cell.span1
			h3 Metadata
		.cell.span8
		.cell.span3.more
			.padder.no-border
				button.green Meer metadata
	.row.span12.contents
		.cell.span1
			h3 Blad 1
			| <% if (item.facsimiles && item.facsimiles.length) { %>
			| <img src="<%= item.facsimiles[0].thumbnail %>">
			| <% } %>
		.cell.span8
			ul.versions
				| <% _.each(item.paralleltexts, function (value, name) { %>
				li: button(data-toggle!="<%= name %>") <%= name %>
				| <% }); %>
			.text
				<%= item.paralleltexts ? (item.paralleltexts.Translation || {}).text : '' %>
		.cell.span3.annotations
			.padder
				button.green Parallel text view
				ol
					li Bergen.op.Zoom Het is mij niet geheel duidelijk of hier streepjes of puntjes tussen de woorden zijn gebruikt
					li Wel[xxx] Weled. (NR)
					li door Geperforeerd, niet volledig te lezen.