.header
	.row.span12
		.cell.span5.back
			a(href="/") Results
		.cell.span5.other
			a(href!="<%= item.prevURL %>", class="prev")
				span &#9666;
				| &nbsp;Previous	
			a(href!="<%= item.nextURL %>", class="next")
				| Next&nbsp;
				span &#9656;
			a(href="/print") Print...
		.cell.span2.huygens-logo
			img(src="/images/HuygensING.png")
.item
	.row.span12.metadata
		.cell.span1
			h3 Metadata
		.cell.span8
		.cell.span3.more
			.padder.no-border
				button.green More metadata
	.row.span12.contents
		.cell.span1
			h3 Blad 1
			| <% if (item.facsimiles && item.facsimiles.length) { %>
			| <img src="<%= item.facsimiles[0].thumbnail %>">
			| <% } %>
		.cell.span11
			.row.span12
				.cell.span8
					ul.versions
						| <% _.each(item.paralleltexts, function (value, name) { %>
						li(data-toggle!="<%= name %>"): button <%= name %>
						| <% }); %>
				.cell.span3
					button.green Parallel text view
			.text-view
				<%= item.paralleltexts ? (item.paralleltexts.Translation || {}).text : '' %>
