.layer
.panel
	.close
	.view
		| <% if (layers) { %>
		.select-layer
			h2 Select text layer
			ul
				| <% _.each(layers, function (v) { %>
				li(data-toggle!="<%= v %>") <%= v %>
				| <% }); %>
		| <% } %>