.parallel-overlay
	.parallel-controls
		.button-group
			h2.title

			.right
				button.prev
					| ◁&nbsp;&nbsp;Previous
				button.next
					| Next&nbsp;&nbsp;▷
				button.close(href="#")
					span X
					| Close parallel view

	.panel-container