doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title Huygens ING
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
		script(src="http://code.jquery.com/jquery-git2.js")
		script.
			var BASE_URL = '/';

		| <!-- @if ENV='development' -->
		link(rel="stylesheet", type="text/css", href!="/css/main-<!-- @echo VERSION -->.css")
		script(src!="/js/libs-<!-- @echo VERSION -->.js")
		script(src!="/js/src-<!-- @echo VERSION -->.js")
		| <!-- @endif -->

		| <!-- @if ENV='production' -->
		link(rel="stylesheet", type="text/css", href!="/css/main.css")
		script(src!="/js/main.js")
		| <!-- @endif -->
	body