doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title elaborate-publication
		link(rel="stylesheet", type="text/css", href="/lib/faceted-search/stage/css/main.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")
		script(data-main="/js/main", src="/lib/requirejs/require.js")
	body
		header.wrapper
		#main
		footer.wrapper Huygens ING &copy; 2013
